PREGUNTA I.

In [1]:
import time

In [2]:
!pip install bcrp-webscrapper

Requirement already satisfied: bcrp-webscrapper in c:\users\andre\anaconda3\lib\site-packages (1.0.6)
Requirement already satisfied: pandas in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (2.2.2)
Requirement already satisfied: numpy in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (1.26.4)
Requirement already satisfied: requests in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (2.32.2)
Requirement already satisfied: unidecode in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (1.2.0)
Requirement already satisfied: selenium in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (4.24.0)
Requirement already satisfied: openpyxl in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (3.1.2)
Requirement already satisfied: more-itertools in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (10.1.0)
Requirement already satisfied: webdriver-manager in c:\users\andre\anaconda3\lib\site-packages (from bcrp-webscrapper) (4.0.2)
Requirement already satisfied: et-xmlfile in c:\users\andre\anaconda3\lib\site-packages (from openpyxl->bcrp-webscrapper) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\anaconda3\lib\site-packages (from pandas->bcrp-webscrapper) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\anaconda3\lib\site-packages (from pandas->bcrp-webscrapper) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\anaconda3\lib\site-packages (from pandas->bcrp-webscrapper) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\andre\anaconda3\lib\site-packages (from requests->bcrp-webscrapper) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\andre\anaconda3\lib\site-packages (from requests->bcrp-webscrapper) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\andre\anaconda3\lib\site-packages (from requests->bcrp-webscrapper) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\andre\anaconda3\lib\site-packages (from requests->bcrp-webscrapper) (2024.7.4)
Requirement already satisfied: trio~=0.17 in c:\users\andre\anaconda3\lib\site-packages (from selenium->bcrp-webscrapper) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\andre\anaconda3\lib\site-packages (from selenium->bcrp-webscrapper) (0.11.1)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\andre\anaconda3\lib\site-packages (from selenium->bcrp-webscrapper) (4.11.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\andre\anaconda3\lib\site-packages (from selenium->bcrp-webscrapper) (1.8.0)
Requirement already satisfied: python-dotenv in c:\users\andre\anaconda3\lib\site-packages (from webdriver-manager->bcrp-webscrapper) (0.21.0)
Requirement already satisfied: packaging in c:\users\andre\anaconda3\lib\site-packages (from webdriver-manager->bcrp-webscrapper) (23.2)
Requirement already satisfied: six>=1.5 in c:\users\andre\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->bcrp-webscrapper) (1.16.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium->bcrp-webscrapper) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium->bcrp-webscrapper) (2.4.0)
Requirement already satisfied: outcome in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium->bcrp-webscrapper) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium->bcrp-webscrapper) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium->bcrp-webscrapper) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\andre\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium->bcrp-webscrapper) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\andre\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium->bcrp-webscrapper) (1.7.1)
Requirement already satisfied: pycparser in c:\users\andre\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium->bcrp-webscrapper) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\andre\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium->bcrp-webscrapper) (0.14.0)

In [3]:
!pip show -f bcrp_webscrapper

Name: bcrp_webscrapper
Version: 1.0.6
Summary: Time series extraction from the Peruvian Central Bank Database (BCRP Statistics)
Home-page: https://github.com/estcab00/bcrp-webscrapper
Author: Esteban Cabrera
Author-email:
License:
Location: C:\Users\andre\anaconda3\Lib\site-packages
Requires: more-itertools, numpy, openpyxl, pandas, requests, selenium, unidecode, webdriver-manager
Required-by:
Files:
  bcrp_webscrapper-1.0.6.dist-info\INSTALLER
  bcrp_webscrapper-1.0.6.dist-info\LICENSE
  bcrp_webscrapper-1.0.6.dist-info\METADATA
  bcrp_webscrapper-1.0.6.dist-info\RECORD
  bcrp_webscrapper-1.0.6.dist-info\REQUESTED
  bcrp_webscrapper-1.0.6.dist-info\WHEEL
  bcrp_webscrapper-1.0.6.dist-info\top_level.txt
  bcrp_webscrapper\__init__.py
  bcrp_webscrapper\__pycache__\__init__.cpython-312.pyc
  bcrp_webscrapper\__pycache__\bcrp.cpython-312.pyc
  bcrp_webscrapper\bcrp.py

In [4]:
from bcrp_webscrapper import *

In [5]:
from bcrp_webscrapper import bcrp
print(dir(bcrp))

['ActionChains', 'By', 'ChromeDriverManager', 'EC', 'IFrame', 'Keys', 'Options', 'SVG', 'Select', 'Service', 'StringIO', 'WebDriverWait', 'Workbook', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'bcrp_dataframe', 'bcrp_graph', 'bcrp_scrapper', 'bcrp_search', 'display', 'download_graph', 'itertools', 'json', 'json_normalize', 'np', 'os', 'pd', 'random', 're', 'requests', 'scrapper_anual', 'scrapper_diario', 'scrapper_mensual', 'scrapper_trimestral', 'sleep', 'time', 'unidecode', 'urllib', 'webdriver']

In [6]:
bcrp.bcrp_search("Consumo", "Trimestral")

       Código                                        Descripción  Frecuencia
0   PN39209BQ  Importaciones según uso o destino económico - ...  Trimestral
1   PN39208BQ  Importaciones según uso o destino económico - ...  Trimestral
2   PN39207BQ  Importaciones según uso o destino económico - ...  Trimestral
3   PN39035BQ  Balanza comercial - valores FOB (millones US$)...  Trimestral
32  PN03263FQ  Ingresos corrientes del gobierno general (porc...  Trimestral
33  PN03262FQ  Ingresos corrientes del gobierno general (porc...  Trimestral
34  PN03261FQ  Ingresos corrientes del gobierno general (porc...  Trimestral
35  PN03227FQ  Ingresos corrientes del gobierno general (mill...  Trimestral
36  PN03226FQ  Ingresos corrientes del gobierno general (mill...  Trimestral
37  PN03225FQ  Ingresos corrientes del gobierno general (mill...  Trimestral
38  PN02815BQ  Importaciones según uso o destino económico - ...  Trimestral
39  PN02814BQ  Importaciones según uso o destino económico - ...  Trimestral
40  PN02813BQ  Importaciones según uso o destino económico - ...  Trimestral
41  PN02641BQ  Balanza comercial - valores FOB (millones US$)...  Trimestral
42  PN02553AQ  Producto bruto interno por tipo de gasto (porc...  Trimestral
43  PN02552AQ  Producto bruto interno por tipo de gasto (porc...  Trimestral
44  PN02542AQ  Producto bruto interno por tipo de gasto (mill...  Trimestral
45  PN02541AQ  Producto bruto interno por tipo de gasto (mill...  Trimestral
46  PN02530AQ  Producto bruto interno por tipo de gasto (mill...  Trimestral
47  PN02529AQ  Producto bruto interno por tipo de gasto (mill...  Trimestral
48  PN02519AQ  Producto bruto interno por tipo de gasto (vari...  Trimestral
49  PN02518AQ  Producto bruto interno por tipo de gasto (vari...  Trimestral

In [7]:
bcrp.bcrp_search("Inversion", "Trimestral")

        Código                                        Descripción  Frecuencia
79   RD15481DQ  Inversión bruta fija de los gobiernos regional...  Trimestral
80   RD15480DQ  Inversión bruta fija de los gobiernos regional...  Trimestral
81   RD15479DQ  Inversión bruta fija de los gobiernos regional...  Trimestral
82   RD15478DQ  Inversión bruta fija de los gobiernos regional...  Trimestral
83   RD15477DQ  Inversión bruta fija de los gobiernos regional...  Trimestral
..         ...                                                ...         ...
300  PN02440FQ  Flujos macroeconómicos (porcentaje del PBI) - ...  Trimestral
301  PN02439FQ  Flujos macroeconómicos (porcentaje del PBI) - ...  Trimestral
302  PN02438FQ  Flujos macroeconómicos (porcentaje del PBI) - ...  Trimestral
303  PN02437FQ  Flujos macroeconómicos (porcentaje del PBI) - ...  Trimestral
304  PN02436FQ  Flujos macroeconómicos (porcentaje del PBI) - ...  Trimestral

[147 rows x 3 columns]

PREGUNTA II.

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\andre\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\andre\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [10]:
bcrp.bcrp_scrapper( ['PN02528AQ', 'PN02529AQ', 'PN02533AQ', 'PN02530AQ'] , '2002-01-01' , '2019-12-31' , 'Trimestral' ).head()

,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Público,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija - Privada
Fecha,,,,
2002-03-01,50591,37166,5558,6669
2002-06-01,56029,37694,6165,6730
2002-09-01,51403,38481,6562,7277
2002-12-01,54404,38332,6955,7469
2003-03-01,53148,37521,5884,7264

In [11]:
series     = ['PN02528AQ', 'PN02529AQ', 'PN02533AQ', 'PN02530AQ']
start_date = '2002-01'
end_date   = '2019-12'
freq       = 'Trimestral'

In [12]:
df_1 = bcrp.bcrp_dataframe( series , start_date , end_date , freq )
df_1.head()

,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Privado,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Inversión Bruta Interna - Inversión Bruta Fija - Privada,Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna - Consumo Público
Fecha,,,,
2002-03-01,50591.247260,37166.146390,6669.326452,5558.244971
2002-06-01,56029.467831,37694.374564,6729.810360,6165.224607
2002-09-01,51402.886732,38481.146673,7277.015085,6561.996649
2002-12-01,54403.921935,38332.332373,7468.848103,6954.533773
2003-03-01,53147.807578,37520.546837,7263.930443,5883.623782

PREGUNTA III.

In [13]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\andre\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\andre\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\andre\anaconda3\lib\site-packages (1.26.4)

In [15]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\andre\anaconda3\lib\site-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in c:\users\andre\anaconda3\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\andre\anaconda3\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\andre\anaconda3\lib\site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\andre\anaconda3\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\andre\anaconda3\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\andre\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

In [16]:
import numpy as np
import pandas as pd
from statsmodels.tsa.stattools import adfuller

In [77]:
cuadro = df_1[["Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna"]].copy()

In [78]:
cuadro.rename(columns={'Producto bruto interno por tipo de gasto (millones S/ 2007) - Demanda Interna': 'PBI_Demanda_Interna'}, inplace=True)

In [79]:
cuadro.head()

            PBI_Demanda_Interna
Fecha
2002-03-01         50591.247260
2002-06-01         56029.467831
2002-09-01         51402.886732
2002-12-01         54403.921935
2003-03-01         53147.807578

In [80]:
cuadro['log'] = np.log(cuadro['PBI_Demanda_Interna'])
cuadro.head()

            PBI_Demanda_Interna        log
Fecha
2002-03-01         50591.247260  10.831534
2002-06-01         56029.467831  10.933633
2002-09-01         51402.886732  10.847450
2002-12-01         54403.921935  10.904192
2003-03-01         53147.807578  10.880832

In [81]:
cuadro['diff'] = cuadro.PBI_Demanda_Interna.diff()

In [83]:
cuadro[["PBI_Demanda_Interna", "log", "diff"]].head()

            PBI_Demanda_Interna        log         diff
Fecha
2002-03-01         50591.247260  10.831534          NaN
2002-06-01         56029.467831  10.933633  5438.220571
2002-09-01         51402.886732  10.847450 -4626.581099
2002-12-01         54403.921935  10.904192  3001.035203
2003-03-01         53147.807578  10.880832 -1256.114357

In [93]:
cuadro.fillna(0, inplace=True)
cuadro.head()

            PBI_Demanda_Interna        log         diff
Fecha
2002-03-01         50591.247260  10.831534     0.000000
2002-06-01         56029.467831  10.933633  5438.220571
2002-09-01         51402.886732  10.847450 -4626.581099
2002-12-01         54403.921935  10.904192  3001.035203
2003-03-01         53147.807578  10.880832 -1256.114357

PREGUNTA IV.

In [94]:
result_1 = adfuller(cuadro['PBI_Demanda_Interna'])

In [95]:
print(result_1)

(-1.124565065987302, 0.7051768969733301, 8, 60, {'1%': -3.5443688564814813, '5%': -2.9110731481481484, '10%': -2.5931902777777776}, 1046.71855824299)

In [96]:
result_2 = adfuller(cuadro['log'])

In [97]:
print(result_2)

(-1.5590985247571707, 0.504100288171749, 6, 62, {'1%': -3.540522678829176, '5%': -2.9094272025108254, '10%': -2.5923136524453696}, -249.50459753880364)

In [98]:
result_3 = adfuller(cuadro['diff'])

In [99]:
print(result_3)

(-2.4649671712902346, 0.12423249183128537, 7, 61, {'1%': -3.542412746661615, '5%': -2.910236235808284, '10%': -2.5927445767266866}, 1047.4475760185471)

PREGUNTA V.

In [ ]:
from statsmodels.graphics import tsaplots

In [ ]:
fig = tsaplots.plot_acf(nvidia, lags = 40)